# Environments
.env
.venv
*.pkl
*.zip
env/
venv/

data/
data
.DS_Store

.ipynb_checkpoints
*/.ipynb_checkpoints/*

mlflow
*/__pycache__
__pycache__
notebooks/__pycache__
tests/.pytest_cache
.pytest_cache
*.egg-info